/*全体のCSS*/
body{
    font-family: 'Plus Jakarta Sans','M PLUS 1p', sans-serif;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}
/* index.htmlのCSS*/

/*header*/
.header {
    position:fixed;
    position:relative;
    top:0;
    left:0;
    height:80px;
    width: 100%;
      background-color: white;
      border-bottom: solid 1px var(--gray-light-color);
      padding: 0 24px;
      z-index: 10000;
      transition: background-color .3s linear;
      display: flex !important; 
      justify-content: space-between; 
      align-items: center; 
      transition: background-color .4s linear;
      /* margin-left: 80px; */
  
  }
  .header-inner{
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .header-List{
    display: flex;
    list-style: none;
  }
  
  .header-ListItem{
    margin:20px;
    color: black;
    font-size: 20px;
  }
.header-suggest-container{
  display: flex;
  align-items: center;
}
.suggest-text{
  margin-left: 15px;
}

/*mainvisual*/
.container{
  margin-top: 80px;
}
.mainvisual-img{
  background: url(../img/posse_main.jpg) center center/cover;
  height: 600px;
}
/*link*/

/*mypage*/
.img-box{
  display: flex;
  justify-content: center;
}
.present-img{
  height: 410px;
}
.check-list{
  list-style: none;
}
.list-item-box{
  display: flex;
  gap: 10px;
  justify-content: start;
}
.box{
  margin-top:22px;
}

.room{
  display: flex;
  justify-content: center;
}
.check-list-box{
  display: flex;
}
/*footor*/

/*suggest.htmlのCSS*/
/*全体的*/

.sg_body {
    background-color: #fbfff5;
}
/* タイトル */
.suggest_title_text{
    font-size: 60px;
    display: block;
}

.suggest_title_engtext{
    font-size: 30px;
}
.suggest_title{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    background-color: #dcf8a9;
}

.suggest_title_img img{
    width:100px;
}

/*フォーム*/
.suggest_detailtext {
    font-size:18px;
}

.sg-form-box{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.sg-form{
    height:100px;
    width:600px;
    font-family: "M PLUS 1p";
    border: 2px solid green;
    border-radius: 4px;
}

.sg-form:focus{
    outline: #dcf8a9 4px solid;
}
.sg-button{
    width:300px;
    height:50px;
    font-size: 25px;
    margin-top: 20px;
    background-color: greenyellow;
    border: 1px solid green;
}

.sg-button:hover {
    background-color: #7da532;
}


/*question.htmlのCSS*/

/*quiz.htmlのCSS*/