/*全体のCSS*/

/* index.htmlのCSS*/

/*header*/
.header {
    position:fixed;
    top:0;
    left:0;
    height:80px;
    width: 100%;
      background-color: white;
      border-bottom: solid 1px var(--gray-light-color);
      padding: 0 24px;
      z-index: 10000;
      transition: background-color .3s linear;
      display: flex !important; 
      justify-content: space-between; 
      align-items: center; 
      transition: background-color .4s linear;
      /* margin-left: 80px; */
  
  }
  .header-inner{
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .header-List{
    display: flex;
    list-style: none;
  }
  
  .header-ListItem{
    margin:20px;
    color: black;
    font-size: 20px;
  }
.header-suggest-container{
  display: flex;
  align-items: center;
}
.suggest-text{
  margin-left: 15px;
}

/*mainvisual*/
.container{
  margin-top: 80px;
}
.mainvisual-img{
  background: url(../img/posse_main.jpg) center center/cover;
  height: 600px;
}
/*link*/

/*mypage*/

/*footor*/

/*suggest.htmlのCSS*/

/*question.htmlのCSS*/

/*quiz.htmlのCSS*/