/*全体のCSS*/
body{
    font-family: 'Plus Jakarta Sans','M PLUS 1p', sans-serif;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}
/* index.htmlのCSS*/

/*header*/
.header {
    position:fixed;
    top:0;
    left:0;
    height:80px;
    width: 100%;
      background-color: white;
      padding: 0 24px;
      z-index: 10000;
      transition: background-color .3s linear;
      display: flex !important; 
      justify-content: space-between; 
      align-items: center; 
      transition: background-color .4s linear;
      /* margin-left: 80px; */
  }

  /* .header-room{
    display: flex;
    
  } */
  .header-inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  
  .header-List{
    display: flex;
    list-style: none;
    /* margin-left: 700px; */
  }
  
  .header-ListItem{
    margin:20px;
    color: black;
    font-size: 20px;
  }
.header-suggest-container{
  display: flex;
  align-items: center;
}
.suggest-text{
  margin-left: 15px;
}

/*mainvisual*/
.mainvisual-img{
  background: url(../img/posse_main.jpg) center center/cover;
  height: 600px;
}
/*link*/
.sugggest-explain{
  margin-bottom: 100px;
}

.detail {
  position: relative;
}

.detail p {
  display: -webkit-box;
  position: relative;
  margin-bottom: 10px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* 開く前に見せたい行数を指定 */
  text-align: center;
}

.detail:has(:checked) p {
  display: block;
}

.detail p::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, hsla(0, 0%, 100%, .9) 50%, hsla(0, 0%, 100%, .9) 0, #fff);
  content: '';
}

.detail:has(:checked) p::after {
  content: none;
}

.detail label {
  display: flex;
  align-items: center;
  gap: 0 4px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: .4em 1.2em;
  border-radius: 1px;
  background-color: #2589d0;
  color: #fff;
  font-size: .7em;
}

.detail label:hover {
  border:1px solid #2589d0;
  background-color: #fff;
  color: #2589d0;
  cursor: pointer;
}

.detail:has(:checked) label {
  display: none;
}

.detail label::after {
  display: inline-block;
  width: 10px;
  height: 5px;
  background-color: #fff;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  content: '';
}

.detail label:hover::after{
  background-color: #2589d0;
}

.detail input {
  display: none;
}
.suggest-explain-title{
  padding-top: 50px;
  text-align: center;
  font-size: 30px;
}

/*mypage*/
.img-box{
  display: flex;
  justify-content: center;
}
.present-img{
  height: 410px;
}
.check-list{
  list-style: none;
}
.list-item-box{
  display: flex;
  gap: 10px;
  justify-content: start;
}
.box{
  margin-top:22px;
}

.room{
  display: flex;
  justify-content: center;
}
.check-list-box{
  display: flex;
}
/*footor*/
.footer-copyright{
  text-align: center;
  margin-top: 24px;
    border-top: solid 1px var(black);
    /* color: var(--gray-color); */
    letter-spacing: .1em;
    line-height: 1.5;
    font-size: 15px;
    padding: 24px
}
/*suggest.htmlのCSS*/
/*全体的*/

.sg_body {
    background-color: #fbfff5;
}
/* タイトル */
.suggest_title_text{
    font-size: 60px;
    display: block;
}

.suggest_title_engtext{
    font-size: 30px;
}
.suggest_title{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    background-color: #dcf8a9;
}

.suggest_title_img img{
    width:100px;
}

/*フォーム*/
.suggest_detailtext {
    font-size:18px;
}

.sg-form-box{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.sg-form{
    height:100px;
    width:600px;
    font-family: "M PLUS 1p";
    border: 2px solid green;
    border-radius: 4px;
}

.sg-form:focus{
    outline: #dcf8a9 4px solid;
}
.sg-button{
    width:300px;
    height:50px;
    font-size: 25px;
    margin-top: 20px;
    background-color: greenyellow;
    border: 1px solid green;
    font-family: "M PLUS 1p";
}

.sg-button:hover {
    background-color: #7da532;
}

.sg-formListItem {
    width: 90%;
    background-color: white;
    font-family: "M PLUS 1p";
    font-size: 18px;
    border: 2px solid green;
    margin: 20px;
    padding: 20px 10px 0px;
}
/*question.htmlのCSS*/

/*quiz.htmlのCSS*/