@media (max-width: 768px){
    /*全体的*/

    /*header*/
.header{
height: 48px;
}
.header-logo{
    width: 200px;
}

.suggest-logo{
    height: 35px;
    width: 25px;
}
    /*mainvisual*/
.mainvisual-img{
    height: 400px;
}
    /*link*/

    /*mypage*/
    .present-img{
        height:200px ;
    }

    /*footor*/

    /*suggest.htmlのCSS*/
    .suggest_title{
        grid-template-columns: 1fr;
        margin: 0 auto;
        margin-top: 40px;
        height: 360px;
    }

    /*フォーム */

    .sg-form {
        width: 300px;
    }

    .sg-formListItem {
        max-width: 500px;
    }
    
    /*quesiton.htmlのCSS*/
    .question_title {
            grid-template-columns: 1fr;
            margin: 0 auto;
            margin-top: 40px;
    }

    .qt-form {
        width: 300px;
    }

    .qt-formListItem {
        max-width: 500px;
    }
    /*quiz.htmkのCSS*/
}