@media (max-width: 768px){
    /*全体的*/

    /*header*/
.header{
height: 48px;
}
.header-logo{
    width: 200px;
}

.suggest-logo{
    height: 35px;
    width: 25px;
}
    /*mainvisual*/
.mainvisual-img{
    height: 400px;
}
    /*link*/

    /*mypage*/

    /*footor*/

    /*suggest.htmlのCSS*/
    .suggest_title{
        grid-template-columns: 1fr;
        margin: 0 auto;
    }

    /*フォーム */

    .sg-form {
        width: 300px;
    }
    /*quesiton.htmlのCSS*/

    /*quiz.htmkのCSS*/
}