@media (max-width: 768px){
    /*全体的*/

    /*header*/
.header{
height: 48px;
}
    /*mainvisual*/
.mainvisual-img{
    height: 400px;
}
    /*link*/

    /*mypage*/

    /*footor*/

    /*suggest.htmlのCSS*/
    .suggest_title{
        grid-template-columns: 1fr;
        margin: 0 auto;
    }

    /*quesiton.htmlのCSS*/

    /*quiz.htmkのCSS*/
}